node_modules

# Build & publishing artifacts
__internal__
cjs
tmp
/icw-icw-?.?.?.tgz
/*.js
/*.d.ts
/*.map

# Files that look like build artifacts, but really aren't
!*.config.js
!*.conf.js

# Test artifacts
coverage
.stryker-tmp

# Editor config and noodling around
.vscode
scratchpad*
