node_modules

# Build & publishing artifacts
/__internal__
/cjs
/*.js
/*.d.ts
/*.map

# Publishing artifacts
/icw-icw-?.?.?.tgz
tmp

# Files that look like build artifacts, but really aren't
!*.config.js
!*.conf.js

# Test artifacts
coverage

# Editor config and noodling around
.vscode
scratchpad*
